<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/contact.css">

    <script defer src="contact.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Splash&display=swap" rel="stylesheet"> 
    
    <title>Contact</title>
</head>
<body>

    <header>
        <nav>
            <a href="/home">Galerie</a>
            <a href="/contact">Contact</a>
            <div>
                <p>arty</p>
            </div>
        </nav>
    </header>
    
    <main>

        <form action="/sendEmail" method="post">

            <label for="nom">nom</label>
            <input required placeholder="Dupont" type="text" id="nom" name="nom">

            <label for="prenom">prenom</label>
            <input required placeholder="Jean" type="text" id="prenom" name="prenom">

            <label for="email">email</label>
            <input required placeholder="dupont@gmail.com" type="email" name="email" id="email">

            <input type="submit" value="Envoyer">

        </form>

    </main>
    <footer></footer>
</body>
</html>