<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Police -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Splash&display=swap" rel="stylesheet"> 

    <!-- Style -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/home.css">

    <!-- Icone -->


    <!-- Javscript -->
    <script defer src="/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <title>Arty</title>
</head>
<body>

    <header>
        <nav>
            <a href="/home">Galerie</a>
            <a href="/contact">Contact</a>
            <div>
                <p>arty</p>
            </div>
        </nav>
    </header>
    
    <main>

        <h1 class="ml12"> <%= titre %>  </h1>

        <section class="choiceGalerie">
            
            <a href="/album/noir-et-blanc">
                <h2>Black and white</h2>
                <img src="images/bnw_section.jpg" alt="Album noir et blanc">
                <div class="curl">
                    <img src="images/curlRotate.png" alt="">
                </div>
            </a>
            <a href="/album/macro">
                <h2>Macrophotographie</h2>
                <img src="images/macro_section.jpg" alt="Album macro">
                <div class="curl">
                    <img src="images/curlRotate.png" alt="">
                </div>
            </a>
            <a href="/album/paysage">
                <h2>Paysage</h2>
                <img src="images/paysage_section.jpg" alt="Album paysage">
                <div class="curl">
                    <img src="images/curlRotate.png" alt="">
                </div>
            </a>

            <a href="/album/animalier">
                <h2>Animaux</h2>
                <img src="images/animalier_section.jpg" alt="Album animaux">
                <div class="curl">
                    <img src="images/curlRotate.png" alt="">
                </div>
            </a>

        </section>

        



    </main>

    <footer>

    </footer>

</body>
</html>