body{
    background-image: url("images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Layout header */

header{
    height: 100px;
    width: 100vw;
    background-color: whitesmoke;
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.80);
    position: relative;
    z-index: 2;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    font-style: italic;
    text-decoration: none;
    line-height: 100px;
    font-size: 35px;
    position: relative;
}

nav a{
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    transition-duration: 1s;
}

nav a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

nav a:nth-child(1)::after{
    width: 60px;
}

/* END Layout header */


h1{
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: serif;
    color: white;
    text-shadow: 0px 0px 20px white;
}

/* Layout galerie */
.choiceGalerie{
    margin: 30px auto;
    width: 1300px;
    max-width: 95vw;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition-duration: 1s;
    align-items: center;

}

.choiceGalerie > a h2{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    line-height: 60px;
    z-index: 50;
    font-size: 30px;
    font-family: 'Splash', cursive;
    box-shadow: 0px 3px 3px black;
}

.choiceGalerie > a {
    height: 400px;
    width: 300px;
    background-color: black;
    border: 2px solid white;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition-duration: 0.3;
    animation-name: cardSection;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    position: relative;
}

.choiceGalerie > a:nth-child(1){
    animation-delay: 1s;
}

.choiceGalerie > a:nth-child(2){
    animation-delay: 1.5s;
}

.choiceGalerie > a:nth-child(3){
    animation-delay: 2s;
}

.choiceGalerie > a:nth-child(4){
    animation-delay: 2.5s;
}

.choiceGalerie a:hover {
    box-shadow: 0px 0px 30px whitesmoke;
}

.choiceGalerie a:hover img {
    transform: scale(1.2);
    filter: brightness(1);
}

.choiceGalerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-duration: 1s;
    filter: brightness(0.8);
}

.curl{
    background-image: url("/images/curlRotate.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}




/* ANIMATIONS */

@keyframes cardSection {
    from{
        transform: translateY(1000px);
    }

    to{
        transform: translateY(0px);
    }
}

.ml12 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}