body{
    background-image: url("images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Layout header */

header{
    height: 100px;
    width: 100vw;
    background-color: whitesmoke;
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.80);
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    font-style: italic;
    text-decoration: none;
    line-height: 100px;
    font-size: 35px;
    position: relative;
}

nav a{
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    transition-duration: 1s;
}

nav a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

nav a:nth-child(1)::after{
    width: 60px;
}



/* END Layout header */
h1{
    text-align: center;
    color: black;
}

/* Layout galerie */
.choiceGalerie{
    margin: 30px auto;
    width: 1200px;
    max-width: 95vw;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition-duration: 1s;
    align-items: center;
}

.choiceGalerie > div {
    height: 400px;
    width: 300px;
    background-color: black;
    border: 2px dotted white;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.choiceGalerie div:hover img {
    transform: scale(1.2);
    filter: brightness(1);

}

.choiceGalerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-duration: 1s;
    filter: brightness(0.8);
}

.curl{
    background-image: url("/images/curlRotate.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}

.galerie{
    margin: 30px auto;
    width: 800px;
    max-width: 95vw;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    transition-duration: 1s;
    transform: translateX(-1000px);
}

.galerie div {
    width: 240px;
    height: 240px;
}

.galerie img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}